<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="de.shop"
	android:name="de.shop.ShopApp"
	android:versionCode="1"
	android:versionName="1.0" >

	<uses-sdk
		android:minSdkVersion="14"
		android:targetSdkVersion="17" />
	
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

	<supports-screens android:requiresSmallestWidthDp="600"/>
	
	<application
		android:icon="@drawable/ic_shop"
		android:label="@string/s_app_name"
		android:theme="@style/AppTheme"
		android:name="ShopApp"
		android:allowBackup="true">
		
		<activity
			android:name=".ui.main.Main"
			android:label="@string/s_app_name" >
			<intent-filter>
				<!-- in Android gibt es keine Methode main() -->
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<meta-data
            	android:name="android.app.default_searchable"
            	android:value=".ui.main.SucheIdActivity" />
		</activity>
		
		<activity
			android:name=".ui.kunde.KundenListe"
			android:label="@string/k_kunden_liste_title"
			android:parentActivityName=".ui.main.Main"
			android:exported="false" > <!-- false ist der Defaultwert, da es keinen intent-filter gibt -->
			
			<meta-data
            	android:name="android.app.default_searchable"
            	android:value=".ui.kunde.SucheNameActivity" />
		</activity>
		
		<activity
			android:name=".ui.main.SucheIdActivity"
			android:exported="false" >
			
			<!-- Activity als "searchable" deklarieren -->
			<intent-filter>
	            <action android:name="android.intent.action.SEARCH" />
	            <category android:name="android.intent.category.DEFAULT" />
	        </intent-filter>
			
			<!-- Weitere Konfiguration fuer die Suche durch diese Activity -->
			<meta-data
	            android:name="android.app.searchable"
	            android:resource="@xml/searchable_id" /> 
		</activity>
		
		<activity
			android:name=".ui.kunde.SucheNachnameActivity"
			android:exported="false" >
			
			<!-- Activity als "searchable" deklarieren -->
			<intent-filter>
	            <action android:name="android.intent.action.SEARCH" />
	            <category android:name="android.intent.category.DEFAULT" />
	        </intent-filter>
			
			<!-- Weitere Konfiguration fuer die Suche durch diese Activity -->
			<meta-data
	            android:name="android.app.searchable"
	            android:resource="@xml/searchable_name" /> 
		</activity>
		
		<!-- <activity
			android:name=".ui.main.MainTablet"
			android:label="@string/s_app_name" />
		
		<activity
			android:name=".ui.main.MainSmartphone"
			android:label="@string/s_app_name" />
		
		<activity
			android:name=".ui.kunde.KundenActivity"
			android:label="@string/s_app_name"
			android:parentActivityName=".ui.Main" />
		
		<activity
			android:name=".ui.bestellung.BestellungenActivity"
			android:label="@string/s_app_name"
			android:parentActivityName=".ui.Main" /> -->
		
		<!-- Local Services -->
		<service
			android:name=".service.KundeService" />
		
		<service
			android:name=".service.BestellungService" />
		
		<service
			android:name=".service.ArtikelService" />
		
		<service
			android:name=".service.NetworkService" />
		
	</application>

</manifest>